<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login to AdminCP</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/admins/login.css">
  </head>
  <body>
    <div class="form">
      <div class="tab-content">
        <div id="login">
          <h1>Simple Blog AdminCP</h1>
          <div class="login-message">
            {{ old("error") }}
          </div>
          <form action="/admin/login" method="post" autocomplete="off">
            {{ csrfField }}
            <div class="field-wrap">
              <input type="text" name="username" placeholder="Username *" required value="{{ old("username") }}"/>
            </div>
            <div class="field-wrap">
              <input type="password" name="password" placeholder="Password *" required/>
            </div>
            <button class="button button-block"/>Log In</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
